/* reset css */
:root {
  --background-color: #1B1C1C;
  --lighter-background-color: #252626;
  --movie-bg-color: #1B1C1C;
  --accent-color: #E03B45;
  --text-color: #F2F9F1;
  --darker-text-color: #bdbdbd;
  --border-color: #969696;
  --transition-time: .3s;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background-color: var(--lighter-background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* border-color: #646cff; */

body {
  max-width: 80%;
  margin: 0 auto;
}

.accent-color {
  color: var(--accent-color);
}

/* MainPage */
h1 {
  text-align: center;
  /* margin-top: .5em; */
  font-size: 4em;
  /* -webkit-text-stroke: 2px white; */
}

.top-bar {
  border-bottom: solid 3px var(--accent-color);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.MainPage-container {
  margin: 0 auto;
  margin-top: 1em;
  display: flex;
  gap: 2em;
}

#movie-search {
  background-color: #252626;
  border: solid 1px var(--border-color);
  padding: .3em;
  padding-left: .7em;
  transition: all var(--transition-time);
}

#movie-search:focus {
  outline: none;
  border: solid 1px var(--text-color);
}

#search-button {
  background-color: var(--accent-color);
  border: solid 1px var(--border-color);
  height: 100%;
  padding: .3em 1em;
  transition: all var(--transition-time);
  color: var(--darker-text-color);
}

#search-button:hover {
  color: var(--text-color);
}

.searchInputAndButtonContainer:hover #search-button {
  border: solid 1px var(--text-color);
}

.searchInputAndButtonContainer:hover #movie-search {
  border: solid 1px var(--text-color);
}

.movie-list-container {
  background-color: var(--lighter-background-color);
  padding: 1em;
}

.change-page-button {
  font-size: 2em;

  background-color: var(--background-color);
  padding: 1em;
}

.change-page-button i {
  color: var(--text-color);
  transition: all var(--transition-time);
}

.change-page-button:hover i {
  color: var(--accent-color);
}

.change-page-button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

.button-to-top {
  position: fixed;
  bottom: 5%;
  left: 3%;
  z-index: 900;
  font-size: 2em;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* filter aside  */

aside {
  background-color: var(--lighter-background-color);
  padding: 2em;
  padding-top: 1em;
  width: 40%;
}

.genre-heading {
  margin-top: 1em;
  /* color: var(--accent-color); */
}

.rating-filter {
  margin-top: 1em;
}

.genre-filter>* {
  margin-inline: .2em;
  margin-block: .7em
}

.genre-filter>input {
  transform: scale(1.4);
  background-color: var(--lighter-background-color);
}

.genre-filter>label {
  user-select: none;
}

.button-in-filters {
  margin-top: .7em;
  margin-bottom: 1.5em;
  background-color: var(--accent-color);
  border: solid 2px transparent;
  padding: .3em;
  padding-inline: .6em;
  margin-right: .6em;
  transition: all var(--transition-time);
}

.button-in-filters:hover {
  border: solid 2px var(--text-color);
}

#reset-button {
  border: solid 1px var(--text-color);
  padding: .2em .5em;
  transition: all var(--transition-time);
}

#reset-button:hover {
  border: solid 1px var(--accent-color);
}

#rating-left-input,
#rating-right-input {
  max-width: 15%;
  margin: .5em;
  border: solid 1px var(--border-color);
  transition: all var(--transition-time)
}

#year-left-input,
#year-right-input {
  max-width: 30%;
  margin: .5em;
  border: solid 1px var(--border-color);
  transition: all var(--transition-time)
}

#rating-left-input:hover,
#rating-right-input:hover,
#year-left-input:hover,
#year-right-input:hover {
  border: solid 1px var(--accent-color);
}

#rating-left-input:focus,
#rating-right-input:focus,
#year-left-input:focus,
#year-right-input:focus {
  outline: none;
  border: solid 1px var(--text-color);
}

/* MoviePreview */
.movie-container {
  margin-bottom: 2em;
  display: flex;
  gap: 1em;
  border: solid var(--text-color) 2px;
  padding: 1em;
  background-color: var(--movie-bg-color);
  transition: all var(--transition-time);
}

.movie-container:hover {
  border: solid var(--accent-color) 2px;
}

i {
  color: var(--accent-color);
}

.preview-info-container {
  margin: 0;
  padding: 0;
}

.preview-poster-container {
  max-width: 15%;
}

/* single movie Page  */

.poster-container {
  max-width: 30%;
}

.movie-page-container {
  margin: 0 auto;
  margin-top: 4em;
  max-width: 80%;
  margin-bottom: 4em;
}

.back-button {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: solid 3px var(--accent-color);
}

.back-button>* {
  transition: all var(--transition-time);
}

.back-button i {
  color: var(--text-color);
  transition: all var(--transition-time);
}

.back-button>*:hover i {
  color: var(--accent-color);
}

.top-part-movie-page {
  margin: 0 auto;
  display: flex;
  justify-content: left;
  gap: 3em;
  background-color: var(--lighter-background-color);
  border: solid 2px var(--text-color);
  padding: 1em;
  font-size: 1.2em;
  margin-bottom: 1em;
}


@media screen and (max-width:1200px) {
  :root {
    font-size: 18px;
  }

  .movie-container {
    flex-direction: column;
    align-items: center;
  }

  .preview-poster-container {
    min-width: 70%;
  }

  .top-part-movie-page {
    flex-direction: column;
    align-items: center;

  }

  .poster-container {
    min-width: 60%;

  }
}

@media screen and (max-width:800px) {
  :root {
    font-size: 16px;
  }
}